@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);

@import "custom";


html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 265px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.font-title {
    font-family: 'Londrina solid';
}

.navbar-brand{
    font-family: 'Londrina solid';
    color: $secondary;
}